# Исключение временных и кэшированных файлов
__pycache__/
*.pyc
*.pyo

# Исключение виртуальных окружений
.venv/
venv/
env/

# Исключение системных файлов
.DS_Store

# Исключение конфигурационных файлов и директорий
.git/
.vscode/
.idea/

# Исключение файлов окружения
.env
